<!DOCTYPE html>
<html>
<head>
    <title>{{ pageTitle|default('Bootsy') }}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>